{% extends 'base.html.twig' %}

{% block title %}Student Link - Réseau social étudiant !{% endblock %}

{% block hero %}
    <section id="heroHome">
        <div class="heroHome-container">
            <h1>Une appli,<br/>tous tes amis.</h1>
            <p>Découvre StudentLink, le réseau social étudiant !<br/>
            Rejoins {% if userCount is defined %}{% if userCount > 1 %}nos {{ userCount }}{% else %}notre premier{% endif %} utilisateur{% if userCount > 1 %}s{% endif %}{% else %} tous nos utilisateurs{% endif %} dès maintenant !</p>
            <a href="https://app.studentlink.fr/" class="btn">Ouvrir StudentLink</a>
        </div>
        <img class="globe" src="{{ asset('img/globe.png') }}" alt="globe">
    </section>
{% endblock %}

{% block body %}
{% endblock %}
