{% extends 'partners/base.html.twig' %}

{% block title %}Student Link - Réseau social étudiant pour les entreprises partenaires !{% endblock %}

{% block hero %}
    <section id="heroHome">
        <div class="heroHome-container">
            <h1>Communiquez<br/>aux étudiants.</h1>
            <p>Découvre StudentLink, le réseau social étudiant !<br/></p>
            <a href="https://studentlink-frontend-web.vercel.app/" class="btn">Ouvrir StudentLink</a>
        </div>
        <img class="globe" src="{{ asset('img/globe.png') }}" alt="globe">
    </section>
{% endblock %}

{% block body %}
{% endblock %}
