html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, button {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import 'blocks/heroHome';
@import 'variables/colors.scss'
