#heroHome {
    background-color: var(--bgDark);
    min-height: 100vh;
    overflow: hidden;
    color: white;

    .heroHome-container {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);

        h1 {
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1.5rem;
        }
    }

    .globe {
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 1200px) {
            display: none;
        }
    }
}